block HTML_VARIABLES

<!DOCTYPE html>
html(lang=(html_lang))
  head 
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title LINE ProtoStar

    block HTML_HEAD

    link(rel="stylesheet", href="../assets/styles/main.css")
    
    //- - console.log(locals.env) // development, production


  body(class=(language))
  
    .wrapper(class=(page))

      include /components/Header.pug

      block HTML_CONTENT

      include /components/Footer.pug

    script(src='../assets/scripts/lib/jquery.min.js')
    script(src='../assets/scripts/lib/slick.min.js')
    //- script(src='../assets/scripts/lib/wow.min.js')
    script(src='../assets/scripts/main.js')
    
    block HTML_SCRIPT
