extends /templates/layout.pug

block HTML_VARIABLES
  - var lang = "#{language}"
  - var page = 'about'

block HTML_SCRIPT
  script(src='../assets/scripts/about.js')

block HTML_CONTENT
  main
    .title= about.title