extends /templates/layout.pug

block HTML_VARIABLES
  - var lang = "#{language}"
  - var page = 'index'

block HTML_SCRIPT
  script(src='../assets/scripts/index.js')

block HTML_CONTENT
  main
    section.kv
      .kv-slider#kvSlider
        .kv-slider-item slider 1
        .kv-slider-item slider 2
        .kv-slider-item slider 3
        .kv-slider-item slider 4
        .kv-slider-item slider 5