extends /templates/layout.pug

block HTML_VARIABLES
  - var lang = "#{language}"
  - var page = 'news'

block HTML_SCRIPT
  script(src='../assets/scripts/news.js')

block HTML_CONTENT
  main
    .title= news.title