header.header
  .container.header-container 
    .menu
      .menu-content
        .menu-bg
        .menu-list
          each item in header.menu
            if item.name === page
              .menu-item.menu-item-active(id=item.id)
                a(href=item.href) #{item.text}
            else if item.name === 'product' && page === 'productContent'
              .menu-item.menu-item-active(id=item.id)
                a(href=item.href) #{item.text}
            else
              .menu-item(id=item.id)
                a(href=item.href) #{item.text}
          .menu-item.menu-item-noHover
            .menu-language
              if language === 'tc'
                a.menu-language-en(href=`../en/${page}.html`) 英文
              else if language === 'en'
                a.menu-language-tw(href=`../tc/${page}.html`) Chinese
    hr
