// Google Font "Roboto" 400 500, "Noto Sans TC" 300 400 500
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// library
@import 'libs/slick.scss';
@import 'libs/slick-theme.scss';

.kv-slider-item {
  width: 100%;
  height: 500px;
  background: #ccc;
}
